@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    overflow-wrap: balance;
  }
}

html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}
